html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: beige;
}

.home-side {
  background-color: goldenrod;
  display: flex;
  height: 100vh;
  width: 15%;
  float: left;
  overflow: "scroll initial";
}

.inner-side {
  margin: 50px;
}
